<datalist id="registered_category">
  <option value="C"></option>
  <option value="C#"></option>
  <option value="computer science"></option>
  <option value="design"></option>
  <option value="develop"></option>
  <option value="Git"></option>
  <option value="Java"></option>
  <option value="JavaScript"></option>
  <option value="Linux"></option>
  <option value="management"></option>
  <option value="math"></option>
  <option value="network"></option>
  <option value="novel"></option>
  <option value="Oracle"></option>
  <option value="OS"></option>
  <option value="other"></option>
  <option value="Perl"></option>
  <option value="PowerShell"></option>
  <option value="Python"></option>
  <option value="Ruby"></option>
  <option value="security"></option>
  <option value="Visual Basic"></option>
  <option value="WSH"></option>
  <option value="Windows"></option>
</datalist>
