    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
      // tooltip初期化
      $(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });
      // datepicker初期化
      $(function() {
        $("#read_date").datepicker({
          dateFormat: "yy/mm/dd"
        });
      });
    </script>
  </body>
</html>
