<%- include('header'); -%>
    <div class="container">
      <p>
        <h4 class="title">ほんだな公開中ユーザー</h4>

        <a href='/fuyu'>ふゆ のほんだな</a><br>
        <a href='/fuyulib'>ふゆ図書 のほんだな</a><br>
      </p>
    </div>
<%- include('footer'); -%>
