<%- include('header'); -%>
    <div class="container">
      <p>
        <h4 class="title">ほんだな公開中ユーザー</h4>

        <a href='/fuyu'>fuyu のほんだな</a><br>
        <a href='/fuyulib'>fuyu図書 のほんだな</a><br>
      </p>
    </div>
<%- include('footer'); -%>
