<%- include('../header'); -%>
<div class="container">
<h1>add</h1>
<p><a href="/">back</a></p>
<form method="POST" action="/posts/create">
    ISBN: <input type="text" id="isbn13" name="isbn13" maxlength="13">
    <input type="button" value="書籍情報取得" onclick="getBookInfo();">
    <br>
    name: <input type="text" id="name" name="name"><br>
    category: <input type="text" id="category" name="category"><br>
    <input type="submit" value="登録">
</form>
<br>
<input type="text" id="getname">
<input type="button" value="反映" onclick="setName();">
</div>
<script type="text/javascript" src="/javascripts/isbn.js"></script>
<script type="text/javascript" src="/javascripts/new.js"></script>
<%- include('../footer'); -%>
