<%- include('../header'); -%>
<div class="container">
  <h1>add</h1>
  <p><a href="/">back</a></p>

  <div class="row">
    <div class="col-6">
      <form method="POST" action="/posts/create">
        <div class="form-group">
          <label>ISBN</label>
          <input type="number" class="form-control" id="isbn13" name="isbn13" maxlength="13">
        </div>
        <div class="form-group">
          <label>name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label>category</label>
          <input type="text" class="form-control" id="category" name="category">
        </div>

        <input type="button" id="btnGet" value="情報取得" alt="ISBNから強制取得">
        <input type="submit" value="登録">
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/isbn.js"></script>
<script type="text/javascript" src="/javascripts/edit.js"></script>
<%- include('../footer'); -%>
